.catalog{
  margin: 0 auto;
  width: 320px;
}
.catalog__title{
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 27px;
  line-height: 30px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #000000;
  mix-blend-mode: normal;
  background: #F1F1F1;
  justify-content: center;
  padding: 73px 0 73px 0 ;
}
