.contacts__wrapper{
  width: 260px;
  padding: 0 30px;
}
.contacts__title{
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 25px;
  line-height: 30px;
  display: flex;
  align-items: center;
  color: #000000;
  mix-blend-mode: normal;
}
.contacts__email{
  display: grid;
  grid-template-columns: 76px 183px;
}
.contacts__email-text{
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 30px;
  display: flex;
  align-items: center;
  color: #444444;
  mix-blend-mode: normal;
}
.contacts__email-link{
  text-decoration: none;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 30px;
  display: flex;
  align-items: center;
  color: #444444;
  mix-blend-mode: normal;
}
.contacts__address{
  display: grid;
  grid-template-columns: 76px 183px;
}
.address__list{
  margin: 0;
  padding: 0;
  list-style-type: none;
}
