.contacts__wrapper{
  @media (min-width: @tablet-width) {
    width: 768px;
    margin: 0;
  }
  @media (min-width: @desktop-width){
    width: 1050px;
    padding: 0 50px 0 50px;
  }
}
.contacts__title{
  margin-top: 37px;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 25px;
  line-height: 30px;
  display: flex;
  align-items: center;
  color: #000000;
  mix-blend-mode: normal;
  @media (min-width: @desktop-width) {
    font-weight: 700;
    font-size: 53px;
    line-height: 57px;
    order: 2;
  }
}
.contacts__email{
  margin-top: 30px;
  display: grid;
  grid-template-columns: 76px 183px;
}
.contacts__email-text{
  margin: 0;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 30px;
  display: flex;
  align-items: center;
  color: #444444;
  mix-blend-mode: normal;
}
.contacts__email-link{
  text-decoration: none;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 30px;
  display: flex;
  align-items: center;
  color: #444444;
  mix-blend-mode: normal;
}
.contacts__address{
  margin-top: 34px;
  display: grid;
  grid-template-columns: 76px 183px;
}
.contacts__adress-text{
  margin: 0;
}
.adress__item{
  margin-bottom: 8px;
}
.address__list{
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.contacts__button{
  margin-top: 35px;
  margin-left: 30px;
  @media (min-width: @tablet-width) {
    margin: 0 auto;
  }
  @media (min-width: @desktop-width) {
    grid-area: block-3;
  }
}
.contacts__icon{
  display: none;
  @media (min-width: @tablet-width) {
    display: block;
  }
}
.contacts__header{
  margin-left: 30px;
  @media (min-width: @tablet-width) {
    display: flex;
    justify-content: space-between;
    width: 668px;
    margin: 0 auto;
  }
  @media (min-width: @desktop-width) {
    grid-area: block-1;
    width: 400px;
    justify-content: center;
    height: 81px;
  }
}
.contacts__info{
  margin-left: 30px;
  margin-bottom: 60px;
  @media (min-width: @tablet-width) {
    display: flex;
    justify-content: space-between;
    width: 668px;
    margin: 0 auto;
  }
  @media (min-width: @desktop-width) {
    flex-direction: column;
    grid-area: block-2;
    width: 290px;
  }
}
.contacts__image{
  @media (min-width: @desktop-width) {
    grid-area: block-4;
  }
}
.contacts__content{
  @media (min-width: @desktop-width) {
    display: grid;
    grid-template-columns: 527px 527px;
    grid-template-areas:"block-1  block-4"
      "block-2 block-4"
      "block-3 block-4";
  }
}
