.developed {
  display: flex;
  width: 260px;
  border-top: 2px solid #e5e5e5;
  margin: 0 auto;
  padding: 21px 0 22px 0;

  @media (min-width: @tablet-width) {
    height: 35px;
    margin: 51px 12px 58px 38px;
    border: none;
    padding: 0;
  }
}

.developed__text {
  font-family: "Open Sans", "Arial", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 19px;
  line-height: 18px;
  display: flex;
  align-items: center;
  color: #000000;
  margin: 0;
  mix-blend-mode: normal;
  margin-left: 39px;
  margin-right: 27px;
}

.developed__logo {
  align-items: center;
  fill: #63d1bb;

  &:hover {
    fill: #46c1ae;
  }

  &:active {
    opacity: 0.3;
  }
}
