.developed{
  display: flex;
  width: 260px;
  border-top: 2px solid #E5E5E5;
  margin: 0 auto;
}
.developed__text{
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 19px;
  line-height: 18px;
  display: flex;
  align-items: center;
  color: #000000;
  mix-blend-mode: normal;
}
.deceloped__logo{
  align-items: center;
}
