.featured{
  display: flex;
  flex-direction: column;
}
.featured__wrapper{
  width: 260px;
  padding: 0 30px 0 30px;
}
.featured__title{
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 25px;
  line-height: 30px;
  display: flex;
  align-items: center;
  color: #000000;
  mix-blend-mode: normal;
  }
.featured__subtitle{
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 20px;
  display: flex;
  align-items: center;
  text-transform: uppercase;
  color: #63D1BB;
  mix-blend-mode: normal;
}
.featured__description{
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  display: flex;
  align-items: center;
  color: #444444;
  mix-blend-mode: normal;
}
.featured-table{
  display: grid;
  grid-template-columns: 97px 162px;
}
.featured-order__price{
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #444444;
  mix-blend-mode: normal;
}
.featured__devider{
  margin-top: 36px;
}
