fieldset {
  border: none;
}
.form {
  margin: 0 auto;
  width: 320px;
  @media (min-width: @tablet-width){
    position: relative;
    width: 768px;
  }
  @media (min-width: @desktop-width){
    width: 1150px;
  }
}
.form__title {
  margin: 0;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 27px;
  line-height: 30px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #000000;
  mix-blend-mode: normal;
  background: #F1F1F1;
  justify-content: center;
  padding: 68px 0 73px 0;
  @media (min-width: @tablet-width){
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 43px;
    line-height: 50px;
    align-items: center;
    text-align: center;
    padding: 99px 0 77px 0;
  }
  @media (min-width: @desktop-width){
    font-size: 53px;
    line-height: 57px;
    padding: 99px 0 97px 0;
  }
}
.form__devider {
  display: none;
  @media (min-width: @tablet-width){
    display: block;
    position: absolute;
    margin-top: -16px;
  }
}
.form__description{
  margin-top: 18px;
  margin-bottom: 30px;
  padding: 0 30px 0 30px;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 24px;
  display: flex;
  align-items: center;
  color: #444444;
  mix-blend-mode: normal;
}
.content-type{
  padding: 0;
  display: block;
  margin: 0;
  margin-bottom: 20px;
}
.content-type__items{
  position: relative;
  margin-top: 35px;
  padding-left: 60px;
  list-style-type: none;
}
.content-color__items{
  list-style-type: none;
}
.control {
  position: relative;
  display: block;
  margin-left: 30px;
}
.control-input[type="checkbox"]:checked + .control-mark::after {
  position: absolute;
  top: 9px;
  left: 6px;
  width: 12px;
  height: 2px;
  background-color: #3F5E72;;
  content: "";
}
.control-input[type="checkbox"]:checked + .control-mark::before {
  position: absolute;
  top: 10px;
  left: 3px;
  width: 6px;
  height: 2px;
  background-color: #3F5E72;;
  content: "";
}
.control-input[type="checkbox"]:checked + .control-mark::before {
  transform: rotate(45deg);
}

.control-input[type="checkbox"]:checked + .control-mark::after {
  transform: rotate(-45deg);
}
.control-input[type="radio"] + .control-mark {
  border-radius: 50%;
}
.control-input[type="radio"]:checked + .control-mark::before {
  position: absolute;
  top: 5px;
  left: 5px;
  width: 10px;
  height: 10px;
  background-color:#3F5E72;
  border-radius: 50%;
  content: "";
}
.control-mark {
  position: absolute;
  top: -12px;
  right: 230px;
  width: 38px;
  height: 38px;
  background: #ffffff;
  border: 2px solid #444444;
}
.content-type__title{
  margin: 0;
  padding-left: 30px;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 16px;
  display: flex;
  align-items: center;
  text-transform: uppercase;
  color: #63D1BB;
  mix-blend-mode: normal;
}
.control-label{
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 18px;
  display: flex;
  align-items: center;
  color: #000000;
  margin-top: 20px;
}
.content-color{
  margin: 0;
  margin-top: 33px;
  padding: 0 30px 0 30px;
}
.content-color__title{
  padding: 0;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 16px;
  display: flex;
  align-items: center;
  text-transform: uppercase;
  color: #63D1BB;
  mix-blend-mode: normal;
}
.content-color__items{
  margin-top: 35px;
  padding: 0 0 0 30px;
  margin-bottom: 25px;
}
.content-color__item{
  margin-bottom: 43px;
}
.content-type__item{
  margin: 0;
  position: relative;
}
.content-type__item .control-mark {
  line-height: 20px;
  position: absolute;
  width: 36px;
  height: 36px;
  top: -4px;
  right: 250px;
}
.content-color__item .control-mark {
  position: absolute;
  width: 34px;
  height: 34px;
  top: -10px;
  right: 222px;
}
.content-fio{
  margin: 0;
  padding: 0 30px 0 30px;
}
.content-fio__title{
  padding: 0;
  margin-bottom: 29px;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 16px;
  display: flex;
  align-items: center;
  text-transform: uppercase;
  color: #63D1BB;
  mix-blend-mode: normal;
}
.content-fio__subtitle{
  margin: 0;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 18px;
  display: flex;
  align-items: center;
  color: #000000;
  mix-blend-mode: normal;
}
.content-fio__input{
  width: 260px;
  border: none;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 18px;
  display: flex;
  align-items: center;
  color: #000000;
  mix-blend-mode: normal;
  opacity: 0.3;
  padding: 15px 0 15px 0;
  border-bottom: 2px solid #000000;
  margin-bottom: 24px;
}
.content-tel {
  margin: 0;
  margin-top: 11px;
  padding: 0 30px 0 30px;
}
.content-tel__title{
  padding: 0;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 16px;
  display: flex;
  align-items: center;
  text-transform: uppercase;
  color: #63D1BB;
  mix-blend-mode: normal;
}
.content-tel__input{
  width: 260px;
  border: none;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 18px;
  display: flex;
  align-items: center;
  color: #000000;
  mix-blend-mode: normal;
  opacity: 0.3;
  padding: 18px 0 18px 0;
  border-bottom: 2px solid #000000;
  margin-bottom: 20px;
}
.content-tel{
  position: relative;
}
.content-tel__icon{
  position: absolute;
  right: 37px;
  bottom: 37px;
}
.content-mail{
  margin: 0;
  margin-top: 15px;
  padding: 0 30px 0 30px;
}
.content-mail__title{
  padding: 0;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 16px;
  display: flex;
  align-items: center;
  text-transform: uppercase;
  color: #63D1BB;
  mix-blend-mode: normal;
  & svg {
    width: 182px;
    margin-left: 20px;
  }
}
.content-mail__input{
  width: 260px;
  border: none;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 18px;
  display: flex;
  align-items: center;
  color: #000000;
  mix-blend-mode: normal;
  opacity: 0.3;
  padding: 18px 0 18px 0;
  border-bottom: 2px solid #000000;
  margin-bottom: 20px;
}
.content-mail__icon{
  position: absolute;
  right: 33px;
  bottom: 35px;
}
.content-mail{
  position: relative;
}
.content-dop{
  margin: 0;
  margin-top: 16px;
  padding: 0 30px 0 30px;
}
.content-dop__title{
  padding: 0;
  margin-bottom: 22px;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 16px;
  display: flex;
  align-items: center;
  text-transform: uppercase;
  color: #63D1BB;
  mix-blend-mode: normal;
}
.content-dop__input{
  margin: 0;
  padding: 15px;
  width: 225px;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 18px;
  display: flex;
  align-items: center;
  color: #000000;
  mix-blend-mode: normal;
  opacity: 0.3;
  border: 2px solid #444444;
}
.content-dop p {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  display: flex;
  align-items: center;
  color: #444444;
  mix-blend-mode: normal;
}
.content-dop__button{
  padding: 0;
  margin-top: 33px;
  border: none;
  background: none;
  height: 52px;
  width: 260px;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 16px;
  display: flex;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  color: #444444;
  mix-blend-mode: normal;
  border: 2px solid #444444;
  justify-content: center;
}
