fieldset {
  border: none;
}
legend svg {
  margin-left: 30px;
  @media (min-width: @tablet-width){
    display: none;
  }
}
.form {
  margin: 0 auto;
  width: 320px;
  @media (min-width: @tablet-width){
    position: relative;
    width: 768px;
  }
  @media (min-width: @desktop-width){
    width: 1150px;
  }
}
.form__title {
  margin: 0;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 27px;
  line-height: 30px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #000000;
  mix-blend-mode: normal;
  background: #F1F1F1;
  justify-content: center;
  padding: 68px 0 73px 0;
  @media (min-width: @tablet-width){
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 43px;
    line-height: 50px;
    align-items: center;
    text-align: center;
    padding: 99px 0 77px 0;
  }
  @media (min-width: @desktop-width){
    font-size: 53px;
    line-height: 57px;
    padding: 99px 0 97px 0;
  }
}
.form__devider {
  display: none;
  @media (min-width: @tablet-width){
    display: block;
    position: absolute;
    margin-top: -16px;
  }
}
.form__description{
  margin-top: 18px;
  margin-bottom: 30px;
  padding: 0 30px 0 30px;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 24px;
  display: flex;
  align-items: center;
  color: #444444;
  mix-blend-mode: normal;
  @media (min-width: @tablet-width){
    padding: 0 50px 0 50px;
    margin-top: 65px;
    font-size: 17px;
    line-height: 30px;
  }
  @media (min-width: @desktop-width) {
    margin-top: 118px;
    margin-left: 175px;
    margin-right: 153px;
  }
}
.content-type{
  padding: 0;
  display: block;
  margin: 0;
  margin-bottom: 20px;
  @media (min-width: @tablet-width){
    position: relative;
    margin-top: 30px;
    margin-bottom: 0;
  }
}
.content-type__items{
  position: relative;
  margin-top: 35px;
  padding-left: 60px;
  list-style-type: none;
  @media (min-width: @tablet-width){
    margin-top: 49px;
    margin-left: 207px;
  }
  @media (min-width: @desktop-width) {
    margin-top: 49px;
    margin-left: 214px;
  }
}
.content-type__item{
  margin: 0;
  position: relative;
  @media (min-width: @tablet-width){
    margin-bottom: 58px;
  }
}
.content-color__items{
  list-style-type: none;
}
.control {
  position: relative;
  display: block;
  margin-left: 30px;
}
.control-input[type="checkbox"]:checked + .control-mark::after {
  position: absolute;
  top: 17px;
  left: 10px;
  width: 20px;
  height: 2px;
  background-color: #000000;
  content: "";
  @media (min-width: @tablet-width) {
    top: 24px;
    left: 14px;
    width: 28px;
    height: 2px;
  }
}
.control-input[type="checkbox"]:checked + .control-mark::before {
  position: absolute;
  top: 20px;
  left: 6px;
  width: 8px;
  height: 2px;
  background-color: #000000;
  content: "";
  @media (min-width: @tablet-width) {
    top: 29px;
    left: 7px;
    width: 14px;
    height: 2px;
  }
}
.control-input[type="checkbox"]:checked + .control-mark::before {
  transform: rotate(45deg);
}

.control-input[type="checkbox"]:checked + .control-mark::after {
  transform: rotate(-45deg);
}
.control-input[type="radio"] + .control-mark {
  border-radius: 50%;
}
.control-input[type="radio"]:checked + .control-mark::before {
  position: absolute;
  top: 10px;
  left: 11px;
  width: 15px;
  height: 15px;
  background: #62D1BA;
  border-radius: 50%;
  content: "";
  @media (min-width: @tablet-width) {
    top: 12px;
    left: 13px;
    width: 19px;
    height: 19px;
  }
}
.control-mark {
  position: absolute;
  top: -12px;
  right: 230px;
  width: 38px;
  height: 38px;
  background: #ffffff;
  border: 2px solid #444444;
  &:hover {
    border: 2px solid #62D1BA;
  }
  &:active {
    border: 2px solid rgba(0, 0, 0, 0.3);
  }
}
.content-type__title{
  margin: 0;
  padding-left: 30px;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 16px;
  display: flex;
  align-items: center;
  text-transform: uppercase;
  color: #63D1BB;
  mix-blend-mode: normal;
  @media (min-width: @tablet-width){
    position: absolute;
    top: 51px;
    left: 19px;
  }
  @media (min-width: @desktop-width) {
    top: 51px;
    left: 81px;
  }
}
.control-label{
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 18px;
  display: flex;
  align-items: center;
  color: #000000;
  margin-top: 20px;
  @media (min-width: @tablet-width){
    font-size: 19px;
    & br {
      display: none;
    }
  }
}
.content-color{
  margin: 0;
  margin-top: 33px;
  padding: 0 30px 0 30px;
  @media (min-width: @tablet-width){
    padding: 0px;
    background: #F1F1F1;
    position: relative;
    margin-top: 10px;
    padding-top: 26px;
  }
}
.content-color__title{
  padding: 0;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 16px;
  display: flex;
  align-items: center;
  text-transform: uppercase;
  color: #63D1BB;
  mix-blend-mode: normal;
  @media (min-width: @tablet-width){
    position: absolute;
    top: 44px;
    left: 49px;
  }
  @media (min-width: @desktop-width) {
    top: 65px;
    left: 111px;
  }
}
.content-color__items{
  margin-top: 35px;
  padding: 0 0 0 30px;
  margin-bottom: 25px;
  @media (min-width: @tablet-width){
    margin-top: 20px;
    margin-left: 239px;
    display: grid;
    grid-template-columns: 228px 229px;
    grid-column-gap: 33px;
  }
  @media (min-width: @desktop-width) {
    grid-template-columns: 227px 228px 231px;
    margin-top: 20px;
    margin-left: 247px;
    grid-column-gap: 34px;
  }
}
.content-color__item{
  margin-bottom: 43px;
  @media (min-width: @tablet-width){
    margin-bottom: 38px;
  }
}

.content-type__item .control-mark {
  line-height: 20px;
  position: absolute;
  width: 36px;
  height: 36px;
  top: -4px;
  right: 250px;
  @media (min-width: @tablet-width){
    width: 45px;
    height: 45px;
    top: -14px;
    left: -76px;
  }
}
.content-color__item .control-mark {
  position: absolute;
  width: 34px;
  height: 34px;
  top: -10px;
  right: 235px;
  @media (min-width: @tablet-width){
    width: 48px;
    height: 48px;
    top: -17px;
    right: 227px;
  }
}
.content-fio{
  margin: 0;
  padding: 0 30px 0 30px;
  @media (min-width: @tablet-width){
    position: relative;
    margin-top: 29px;
  }
}
.content-fio__list{
  padding: 0;
  list-style-type: none ;
  @media (min-width: @tablet-width){
    margin-left: 188px;
    margin-top: 24px;
  }
  @media (min-width: @desktop-width){
    margin-left: 197px;
    margin-top: 22px;
  }
}
.content-fio__item{
  @media (min-width: @tablet-width){
    margin-bottom: 25px;
    display: flex;
  }
}
.content-fio__title{
  padding: 0;
  margin-bottom: 15px;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 16px;
  display: flex;
  align-items: center;
  text-transform: uppercase;
  color: #63D1BB;
  mix-blend-mode: normal;
  @media (min-width: @tablet-width){
    position: absolute;
    top: 43px;
    left: 50px;
  }
  @media (min-width: @desktop-width){
    top: 42px;
    left: 110px;
  }
}
.content-fio__subtitle{
  margin: 0;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 18px;
  display: flex;
  align-items: center;
  color: #000000;
  mix-blend-mode: normal;
  @media (min-width: @tablet-width){
    margin-right: 25px;
    font-weight: 700;
    font-size: 19px;
    line-height: 50px;
  }
}
.content-fio__input{
  width: 260px;
  border: none;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 18px;
  display: flex;
  align-items: center;
  color: #000000;
  mix-blend-mode: normal;
  opacity: 0.3;
  padding: 15px 0 15px 0;
  border-bottom: 2px solid #000000;
  margin-bottom: 24px;
  &:hover {
    border-bottom: 2px solid #62d1ba
  }
  &:active {
    border-bottom: 2px solid #62d1ba
  }
  @media (min-width: @tablet-width){
    font-size: 19px;
    line-height: 50px;
    margin: 0;
    padding: 0 17px;
    width: 341px;
  }
  @media (min-width: @desktop-width){
    width: 540px;
  }
}
.content-fio__item:nth-of-type(1) .content-fio__input{
  @media (min-width: @tablet-width){
    width: 392px;
  }
  @media (min-width: @desktop-width){
    width: 592px;
  }
}
.content-tel {
  margin: 0;
  margin-top: 11px;
  padding: 0 30px 0 30px;
  @media (min-width: @tablet-width){
    padding: 0;
    margin-top: 20px;
    background: #F1F1F1;
    position: relative;
  }
}
.content-tel__title{
  padding: 0;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 16px;
  display: flex;
  align-items: center;
  text-transform: uppercase;
  color: #63D1BB;
  mix-blend-mode: normal;
  @media (min-width: @tablet-width){
    position: absolute;
    top: 70px;
    left: 50px;
  }
  @media (min-width: @desktop-width){
    top: 70px;
    left: 111px;
  }
}
.content-tel__input{
  width: 260px;
  border: none;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 18px;
  display: flex;
  align-items: center;
  color: #000000;
  mix-blend-mode: normal;
  opacity: 0.3;
  padding: 18px 0 18px 0;
  border-bottom: 2px solid #000000;
  margin-bottom: 20px;
  background: none;
  &:hover {
    border-bottom: 2px solid #62d1ba
  }
  &:active {
    border-bottom: 2px solid #62d1ba
  }
  @media (min-width: @tablet-width){
    width: 466px;
    margin-left: auto;
    margin-right: 50px;
    margin-top: 47px;
    font-size: 19px;
    padding: 16px 17px 16px 17px;
    margin-bottom: 0;
  }
  @media (min-width: @desktop-width){
    margin-left: 225px;
    width: 667px;
  }
}
.content-tel{
  position: relative;
}
.content-tel__icon{
  position: absolute;
  right: 37px;
  bottom: 37px;
  fill: #000000;
  opacity: 0.2;
  @media (min-width: @desktop-width){
    right: 233px;
    bottom: 18px;
  }
  &:hover {
    fill: #62d1ba;
    opacity: 1;
  }
}
.content-mail{
  margin: 0;
  margin-top: 15px;
  padding: 0 30px 0 30px;
  @media (min-width: @tablet-width){
    margin: 0;
    padding: 0;
    padding-top: 15px;
    background: #F1F1F1;
    position: relative;
    padding-bottom: 29px;
  }
}
.content-mail__title{
  padding: 0;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 16px;
  display: flex;
  align-items: center;
  text-transform: uppercase;
  color: #63D1BB;
  mix-blend-mode: normal;
  & svg {
    width: 182px;
    margin-left: 20px;
  }
  @media (min-width: @tablet-width){
    position: absolute;
    top: 41px;
    left: 49px;
  }
  @media (min-width: @desktop-width){
    top: 41px;
    left: 112px;
  }
}
.content-mail__input{
  width: 260px;
  border: none;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 18px;
  display: flex;
  align-items: center;
  color: #000000;
  mix-blend-mode: normal;
  opacity: 0.3;
  padding: 18px 0 18px 0;
  border-bottom: 2px solid #000000;
  margin-bottom: 20px;
  background: none;
  &:hover {
    border-bottom: 2px solid #62d1ba
  }
  &:active {
    border-bottom: 2px solid #62d1ba
  }
  @media (min-width: @tablet-width){
    width: 466px;
    margin-left: auto;
    margin-right: 50px;
    margin-top: 7px;
    font-size: 19px;
    padding: 12px 17px 14px 17px;
  }
  @media (min-width: @desktop-width){
    margin-left: 225px;
    width: 667px;
  }
}
.content-mail__icon{
  position: absolute;
  right: 33px;
  bottom: 35px;
  opacity: 0.2;
  fill: #000000;
  &:hover {
    fill: #62d1ba;
    opacity: 1;
  }
  @media (min-width: @desktop-width){
    right: 229px;
    bottom: 65px;
  }
}
.content-mail{
  position: relative;
}
.content-dop{
  margin: 0;
  margin-top: 16px;
  padding: 0 30px 0 30px;
  @media (min-width: @tablet-width){
    position: relative;
  }
}
.content-dop__title{
  padding: 0;
  margin-bottom: 22px;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 16px;
  display: flex;
  align-items: center;
  text-transform: uppercase;
  color: #63D1BB;
  mix-blend-mode: normal;
  @media (min-width: @tablet-width){
    position: absolute;
    top: 54px;
    left: 49px;
  }
  @media (min-width: @desktop-width){
    left: 111px;
  }
}
.content-dop__input{
  margin: 0;
  padding: 15px;
  width: 225px;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 18px;
  display: flex;
  align-items: center;
  color: #000000;
  mix-blend-mode: normal;
  opacity: 0.3;
  border: 2px solid #444444;
  &:hover{
    border: 2px solid #62D1BA;
  }
  &:active{
    font-size: 19px;
    line-height: 18px;
    border: 2px solid #62D1BA;
  }
  @media (min-width: @tablet-width){
    font-size: 19px;
    width: 467px;
    margin-top: 34px;
    margin-right: 20px;
    margin-left: auto;
  }
  @media (min-width: @desktop-width){
    margin-left: 196px;
    width: 668px;
    font-weight: 400;
    font-size: 19px;
  }
}
.form-other__text {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  display: flex;
  align-items: center;
  color: #444444;
  mix-blend-mode: normal;
  @media (min-width: @tablet-width){
    font-size: 17px;
    line-height: 30px;
    margin: 0;
    order: 2;
    margin-left: 136px;
    margin-top: 33px;
  }
  @media (min-width: @desktop-width){
    margin-left: 168px;
  }
}
.form-other {
  padding: 0 30px 0 30px;
  margin-bottom: 54px;
  @media (min-width: @tablet-width){
    padding: 0;
    display: flex;
    margin-top: 20px;
  }
}
.form-other__button{
  padding: 0;
  margin-top: 33px;
  border: none;
  background: none;
  height: 52px;
  width: 260px;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 16px;
  display: flex;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  color: #444444;
  mix-blend-mode: normal;
  border: 2px solid #444444;
  justify-content: center;
  &:hover {
    color: #FFFFFF;
    background: #444444;
    mix-blend-mode: normal;
    border: 2px solid #444444;
  }
  &:active{
    color: rgba(255, 255, 255, 0.3);
  }
  @media (min-width: @tablet-width){
    order: 0;
    margin-left: 50px;
    width: 230px;
  }
  @media (min-width: @desktop-width){
    margin-left: 226px;
    margin-top: 29px;
  }
}
