.main-header{
  height: 79px;
  @media (min-width: @tablet-width){
    display: flex;
  }
}
.main-header__logo{
  margin: 22px auto;
  @media (min-width: @tablet-width){
    margin: 0;
  }
}
.image--mobile{
  display: block;
}
.image--tablet{
  display: none;
}
.image--desktop{
  display: none;
}
