.main-footer{
  background: #F1F1F1;
  margin-top: 39px;
  @media (min-width: @tablet-width) {
    display: flex;
    height: 143px;
  }
}
.main-footer__logo{
  display: none;
  @media (min-width: @tablet-width) {
    display: block;
    margin: 51px 122px 58px 50px ;
  }
}
