.main-container{
  margin: 0 auto;
  width: 320px;
}
.main-title {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 27px;
  line-height: 30px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #000000;
  mix-blend-mode: normal;
}
