.main-nav {

}
.main-nav__toggle{

}
.main-nav__wrapper{

}
.main-nav__list{
 list-style-type: none;
 @media (min-width: @tablet-width){
   display: flex;
 }
}
.site-list__link{
  text-decoration: none;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  display: flex;
  align-items: center;
  color: #000000;
  mix-blend-mode: normal;
}
.user-list__link{
  text-decoration: none;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  display: flex;
  align-items: center;
  color: #000000;
  mix-blend-mode: normal;

}
