.product-cards{
  width: 260px;
  padding: 0 30px 0 30px;
}
.product-cards__list{
  list-style-type: none;
  padding: 0;
  justify-content: center;
}
.product-cards__wrapper{
  border: 1px solid #ECECEC;
  border-top: none;

}
.product-cards__item{
  margin-top: 30px;
  display: flex;
  flex-direction: column;
}
.product-cards__title{
  margin: 0;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  align-items: center;
  color: #000000;
  mix-blend-mode: normal;
}
.product-cards__params{
  font-family: 'Open Sans';
  padding-bottom: 20px;
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 30px;
  align-items: center;
  color: #444444;
  mix-blend-mode: normal;
  border-bottom: 1px solid #ECECEC;

}
.product-cards__description{
  width: 204px;
  padding: 28px;
}
.product-cards__price{
  padding-top: 20px;
  display: flex;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 24px;
  align-items: center;
  color: #000000;
  mix-blend-mode: normal;
  margin-right: auto;
}
.product-cards__icon{
  margin-left: auto;
}
