.reviews{
  margin-top: 62px;
}
.reviews__wrapper{
  width: 260px;
  padding: 0 30px 30px;
  @media (min-width: @tablet-width){
    width: 720px;
    padding: 0;
  }
  @media (min-width: @desktop-width){
    width: 1050px;
    padding: 0 50px 0 50px;
  }
}
.reviews__title{
  margin-bottom: 12px;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 25px;
  line-height: 30px;
  align-items: center;
  color: #000000;
  mix-blend-mode: normal;
  @media (min-width: @tablet-width){
    grid-area: 1;
    font-weight: 700;
    font-size: 43px;
    line-height: 50px;
  }
}
.reviews__text{
  margin: 0;
  padding: 0;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 30px;
  display: flex;
  align-items: center;
  color: #444444;
  mix-blend-mode: normal;
  @media (min-width: @tablet-width){
    grid-area: post-2;
    font-size: 17px;
  }
}
.reviews-item{
  padding: 0;
  margin: 0;
}
.reviews__author-name{
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  display: flex;
  align-items: center;
  color: #000000;
  mix-blend-mode: normal;
}
.reviews__author-contacts{
  margin-top: 3px;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 30px;
  display: flex;
  align-items: center;
  color: #444444;
  mix-blend-mode: normal;
}
.reviews__author-info{
  margin-top: 35px;
  @media (min-width: @tablet-width){
    grid-area: post-3;
  }
}
.reviews__controls{
  margin-top: 30px;
  border: 1px solid #ECECEC;
  @media (min-width: @tablet-width){
    grid-area: post-4;
  }
}
.controls__button{
  background: #FFFFFF;
  border: none;
}
.button--prev{
  padding: 13px 44px 6px 34px;
}
.button--next{
  padding: 11px 41px 8px 34px;
  border-left: 1px solid #ECECEC;
}
.reviews__button{
  margin-top: 38px;
}
.reviews__content{
  @media (min-width: @tablet-width){
    display: grid;
    grid-template-areas:"post-1  post-5"
      "post-2 post-2 "
      "post-3 post-4";
    grid-template-columns: 1fr 1fr;
    row-gap: 20px;
  }
  @media (min-width: @desktop-width){
    margin-bottom: 67px;
  }
}
.reviews__button{
  @media (min-width: @tablet-width){
    grid-area: post-5;

  }
}
